.react-fancy-visa-card *,
.react-fancy-visa-card *::before,
.react-fancy-visa-card *::after {
    box-sizing: border-box;
}

/*--------------------
Form
--------------------*/
.react-fancy-visa-card .form fieldset {
    border: none;
    padding: 10px 0;
    position: relative;
    clear: both;
}
.react-fancy-visa-card .form fieldset.fieldset-expiration {
    float: left;
    width: 70%;
}
.react-fancy-visa-card .form fieldset.fieldset-expiration .select {
    width: 104px;
    margin-right: 12px;
    float: left;
}



.react-fancy-visa-card .form fieldset.fieldset-ccv {
    clear: none;
    float: right;
    width: 96px;
}
.react-fancy-visa-card  .form fieldset label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    font-weight: bold;
}

.react-fancy-visa-card  #card-number {
    width: 100%;
}

.react-fancy-visa-card .expiration{
    margin-right:90px;
}
.react-fancy-visa-card .form fieldset input,
.react-fancy-visa-card .form fieldset .select {
    width: 100%;
    font-size: 19px;
}

.react-fancy-visa-card .form fieldset .select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    padding: 0;
    border: none;
    width: 100%;
    outline: none !important;
    top: 66px;
    left: 6px;
    background: none;
    font-size: 19px !important;
}
.react-fancy-visa-card .form fieldset .select select :-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.react-fancy-visa-card {
    width: 100%;
    outline: none !important;
    background: linear-gradient(180deg, #49a09b, #3d8291);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    box-shadow: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
    font-size: 18px;
}
.react-fancy-visa-card {
    margin-right: 6px;
}

/*--------------------
Checkout
--------------------*/
.react-fancy-visa-card.checkout {
    margin: 150px auto 30px;
    position: relative;
    width: 560px;
    background: white;
    border-radius: 15px;
    padding: 160px 45px 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/*--------------------
Credit Card
--------------------*/
.react-fancy-visa-card .credit-card-box {
    perspective: 1000;
    width: 350px;
    height: 280px;
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);
}
.react-fancy-visa-card .credit-card-box:hover .flip, .react-fancy-visa-card .credit-card-box.hover .flip {
    transform: rotateY(180deg);
}
.react-fancy-visa-card .credit-card-box .front,
.react-fancy-visa-card .credit-card-box .back {
    width: 350px;
    height: 250px;
    border-radius: 15px;
    backface-visibility: hidden;
    background: url(../../../../../assets/backgroundDark.webp);
    background-size: cover;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.react-fancy-visa-card .credit-card-box .front::before,
.react-fancy-visa-card .credit-card-box .back::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0.05;
}
.react-fancy-visa-card .credit-card-box .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.react-fancy-visa-card .credit-card-box .logo {
    position: absolute;
    top: 9px;
    right: 20px;
}
.react-fancy-visa-card .credit-card-box .logo svg {
    width: 100%;
    height: auto;
    fill: #fff;
}


.react-fancy-visa-card .credit-card-box .front {
    z-index: 2;
    transform: rotateY(0deg);
}
.react-fancy-visa-card .credit-card-box .back {
    transform: rotateY(180deg);
}
.react-fancy-visa-card .credit-card-box .back .logo {
    top: 185px;
}
.react-fancy-visa-card .credit-card-box .chip {
    width: 50px;
    top: 30px;
    left: 30px;
    background: url(../../../../../assets/chip.webp);
    background-size: cover;
    border-radius: 8px;
}
.react-fancy-visa-card .credit-card-box .chip::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid rgba(128, 128, 128, 0.1);
    width: 80%;
    height: 70%;
    border-radius: 5px;
}
.react-fancy-visa-card .credit-card-box .strip {
    background: linear-gradient(135deg, #404040, #1a1a1a);
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    left: 0;
}
.react-fancy-visa-card .credit-card-box .number {
    position: absolute;
    margin: 0 auto;
    top: 103px;
    left: 19px;
}
.react-fancy-visa-card .credit-card-box label {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px;
}
.react-fancy-visa-card .credit-card-box .card-holder,
.react-fancy-visa-card .credit-card-box .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 180px;
    left: 19px;
    font-size: 22px;
    text-transform: capitalize;
}
.react-fancy-visa-card .credit-card-box .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
}
.react-fancy-visa-card .credit-card-box .ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 110px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    text-align: right;
    padding: 10px;
}
.react-fancy-visa-card .credit-card-box .ccv label {
    margin: -25px 0 7px;
    color: #fff;
}